In [2]:
#Nabin Kumar Upadhaya
#20bci7231
#nabin.20bci7231@vitap.ac.in

In [10]:
#Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

import numpy as np
import pandas as pd

data = np.random.rand(4, 4) 
df = pd.DataFrame(data, columns=['Feature 1', 'Feature 2', 'Feature 3', 'Feature 4'])

print(df)

   Feature 1  Feature 2  Feature 3  Feature 4
0   0.768302   0.250305   0.443882   0.879545
1   0.907867   0.912997   0.985338   0.983875
2   0.169854   0.147388   0.804513   0.976665
3   0.798617   0.313576   0.897209   0.076575

In [11]:
import numpy as np
import pandas as pd

data = np.random.rand(4, 4)  
df = pd.DataFrame(data, columns=['Feature 1', 'Feature 2', 'Feature 3', 'Feature 4'])

# Renaming column names
new_column_names = {
    'Feature 1': 'Random value 1',
    'Feature 2': 'Random value 2',
    'Feature 3': 'Random value 3',
    'Feature 4': 'Random value 4'
}

df = df.rename(columns=new_column_names)

print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.577967        0.810774        0.749439        0.391908
1        0.026589        0.853221        0.251779        0.930418
2        0.094900        0.693014        0.297999        0.948300
3        0.971823        0.784879        0.638660        0.875449

In [12]:
import pandas as pd
import numpy as np

statistics = df.describe()

print(statistics)

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.417820        0.785472        0.484469        0.786519
std          0.443436        0.067771        0.246914        0.264894
min          0.026589        0.693014        0.251779        0.391908
25%          0.077822        0.761912        0.286444        0.754563
50%          0.336433        0.797826        0.468329        0.902933
75%          0.676431        0.821386        0.666355        0.934888
max          0.971823        0.853221        0.749439        0.948300

In [13]:
import pandas as pd

null_values = df.isnull().sum()

print("Null Values:")
print(null_values)

# Find data types of columns
data_types = df.dtypes

print("\nData Types:")
print(data_types)

Null Values:
Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

Data Types:
Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

In [14]:
import pandas as pd

location_columns = df[['Random value 2', 'Random value 3']]
print(location_columns)

index_location_columns = df.iloc[:, 1:3]
print(index_location_columns)

   Random value 2  Random value 3
0        0.810774        0.749439
1        0.853221        0.251779
2        0.693014        0.297999
3        0.784879        0.638660
   Random value 2  Random value 3
0        0.810774        0.749439
1        0.853221        0.251779
2        0.693014        0.297999
3        0.784879        0.638660